.loading {
  text-align: center;
  font-size: 30px;
  height: 500px;
}
.list {
  list-style: none;

  .ad-provider {
    h1 {
      margin: 45px 0px;
      padding: 5px 20px;
      border: 5px solid #999;
    }
    .logo {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fafbfb;
      margin-top: -30px;
      border: 5px solid #999;
    }

    .title {
      font-size: 30px;
      padding-left: 10px;
      color: red;
    }

    .content-body {
      display: none;
    }
    &.expanded .content-body{
      display: block;
    }

    .ad-body {
      height: 100%;
    }

    .ad-content {
      @include transition(height 0.5s ease-in);
      height: 500px;
      overflow: hidden;

      &.ng-hide-remove {
        height: 50px;
      }
      &.ng-hide-remove-active {
        height: 500px;
      }
      &.ng-hide-add-active {
        height: 0 !important;
      }
    }

  }
}
