@import "../../node_modules/node-bourbon/assets/stylesheets/bourbon";
$icon-font-path: "../bootstrap/";
@import "../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap"; // Boostrap 3

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@import "custom.scss";
