<li
	class="ad-provider"
	ng-class="{expanded: adProvider.isShown}"
>
	<h1

		ng-click="adProvider.isShown = !adProvider.isShown"
	>
		<div class="logo pull-left" style="background-image: url({{ adProvider.logo }})"></div>
		<span class="title">{{ adProvider.title }}</span>
		<span class="pull-right glyphicon glyphicon-plus-sign" ng-hide="adProvider.isShown"></span>
		<span class="pull-right glyphicon glyphicon-minus-sign" ng-show="adProvider.isShown"></span>
	</h1>
	<div class="ad-content" ng-show="adProvider.isShown"></div>
</li>
