<div class="ad-body">
	<div class="loading" ng-hide="isLoaded">Loading...</div>
	<iframe
		style="width: 100%; height: 100%"
		src="http://iframe.sponsorpay.com/mbrowser?appid=9325&uid=test&device=phone"
		ng-show="isLoaded"
	></iframe>
</div>
