<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="callsFreeCalls">
<head>
	<meta charset="utf-8">
	<title ng-bind-template="{{title}}"></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="fragment" content="!"/>
	<link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="AppCtrl">
	<div ng-view></div>
	<script src="js/vendor.js"></script>
	<script src="js/partials.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
